<div class="container">
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <span *ngFor="let crumb of currentData; let isLast=last">
    <a href="#" (click)="goToStepByBreadcrumb(crumb)">{{ crumb }}</a>
    <span *ngIf="!isLast"> / </span>
  </span>
</div>

<!-- Stepper and Steps -->
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step *ngFor="let step of steps; let i = index">
    <ng-template matStepLabel>Step {{i + 1}}</ng-template>
    
    <div *ngFor="let option of step.options">
      <button mat-button
              [class.selected]="option.label === step.selectedOption"
              (click)="selectOption(i, option)">
        {{option.label}}
      </button>
    </div>

    <div style="margin-top: 2em;">
      <span [ngClass]="{'nav-buttons': i > 0 || (i < steps.length - 1 && step.selectedOption)}">
        <button mat-button (click)="stepper.previous()" *ngIf="i > 0">Back</button>
        <button mat-button (click)="stepper.next()" *ngIf="i < steps.length - 1 && step.selectedOption">Next</button>
      </span>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>